<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
        
                    <c-input-group class="mb-3">
                      <span cInputGroupText>
                        <svg cIcon name="cilUser"></svg>
                      </span>
                      
                      <input autoComplete="username" 
                            cFormControl formControlName="username" 
                            placeholder="Username" type="text" 
                            id="loginFormUser" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                            
                            
                    </c-input-group>
                    <c-input-group class="mb-4">
                      <span cInputGroupText>
                        <svg cIcon name="cilLockLocked"></svg>
                      </span>
                      <input
                        formControlName="password"
                        autoComplete="current-password"
                        cFormControl
                        placeholder="Password"
                        type="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  
                      />
                    </c-input-group>
                
                <c-row>
                  <c-col xs="6">
                      <button [disabled]="loading" cButton class="px-4" color="primary" type="submit">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        {{ 'Log in' }}
                      </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
