<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>Modal title</h5>
      <button (click)="openModal2()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div [formGroup]="form" data-toggle="validator"role="form" class="form-group">
            <label for="">Data da Consulta</label>
            <c-input-group>
                <mat-form-field appearance="fill">
                    <mat-label>Escolha uma data</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataConsulta">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </c-input-group>
            <label style="margin-top: 20px;" or="">Horario da Consulta</label>
                <c-input-group class="mb-3"style="margin-top: 10px;">
                    <input aria-describedby="basic-addon2"
                            aria-label="Sobrenome"
                            cFormControl
                            placeholder="15:00"
                            formControlName="horarioConsulta"
                    />
                </c-input-group>            
        </div>


    </c-modal-body>
    <c-modal-footer>
      <button (click)="openModal2()" cButton color="secondary">
        Close
      </button>
      <button (click)="onSubmit()" type="submit" cButton color="primary">Save changes</button>
    </c-modal-footer>
  </c-modal>
  

<table cTable>
    <thead>
    <tr>
      <th scope="col" style="width: 200px;"></th>
      <th scope="col">Nome</th>
      <th scope="col">Idade</th>
      <th scope="col">RG</th>
      <th scope="col">Telefone</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let paciente of pacientes; let i = index">
        <td style="width: 200px;">
            <button (click)="openModal(i)" cButton color="primary" size="sm">Marcar Consulta</button>
        </td>
        <td> {{paciente.firstName}} {{paciente.lastName}}</td>
        <td>{{paciente.age}}</td>
        <td>{{paciente.rg}}</td>
        <td>{{paciente.telefone}}</td>
    </tr>
    
    </tbody>
</table>
